<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://ree6.de/styles/style.css" />
   <link rel="icon" href="https://ree6.de/imgs/logo.png" />
   <style>
      @media only screen and (max-width: 1650px) {
         section#home {
            grid-template-columns: 1fr 0.85fr;
         }
         .hero-statement {
            margin-right: 1vw;
         }
      }

      @media only screen and (max-width: 1150px) {
         section#home {
            grid-template-columns: 1fr;
         }
         .hero-statement {
            margin: auto;
         }
         .hero-statement .img-wrapper {
            margin: 50px 0;
         }
         nav.desktop-nav {
            margin: auto;
         }
      }

      @media only screen and (max-width: 900px) {
         .hero-statement .img-wrapper {
            margin: 50px auto;
         }
      }
   </style>
   <title>REE6 | Discord Bot</title>
</head>
<body>
<div class="transition-fade"></div>
<div class="cursor"></div>
<div class="inner-cursor"></div>
<div class="cursor-modal"></div>
<header>
   <nav class="desktop-nav">
      <a href="/#home" aria-disabled="true">Home</a>
      <a href="/#features" aria-disabled="true">Features</a>
      <a href="/#team" aria-disabled="true">Team</a>
      <a href="https://ree6.de/#invite" aria-disabled="true">Invite</a>
      <a th:text="${isLogged} ? 'Dashboard' : 'Login'" th:href="${isLogged} ? 'https://cp.ree6.de/panel' : 'https://cp.ree6.de/discord/auth'" href="https://cp.ree6.de/discord/auth">Login</a>
   </nav>
   <button class="hamburger-button">
      <span class="line-one"></span>
      <span class="line-two"></span>
   </button>
   <nav class="hamburger-wrapper">
      <div class="hamburger-container">
         <a href="https://ree6.de/#home" aria-disabled="true"><span>Home</span></a>
         <a href="https://ree6.de/#features" aria-disabled="true"><span>Features</span></a>
         <a href="https://ree6.de/#team" aria-disabled="true"><span>Team</span></a>
         <a href="https://ree6.de/#invite" aria-disabled="true"><span>Invite</span></a>
         <a th:text="${isLogged} ? 'Dashboard' : 'Login'" th:href="${isLogged} ? 'https://cp.ree6.de/panel' : 'https://cp.ree6.de/discord/auth'" href="https://cp.ree6.de/discord/auth"><span>Login</span></a>
      </div>
   </nav>
</header>
<main>
   <section id="home" class="fade-in">
      <div data-parallax data-xaxis="0" data-yaxis="0" class="hero-statement">
         <h1 data-parallax data-xaxis="0.7" data-yaxis="0">
            Ree6<span class="dim-text">.de</span>
         </h1>
         <div
                 data-parallax
                 data-xaxis="0.5"
                 data-yaxis="0"
                 class="hero-descrip"
         >
            The <strong>Enhanced</strong> Mee6
         </div>
         <div
                 class="img-wrapper"
                 data-highlight=""
                 data-parallax
                 data-xaxis="0.1"
                 data-yaxis="0.1"
                 data-color-background="#ea0f77"
         >
            <img src="https://ree6.de/imgs/ree6-logo.png" alt="REE6 Avatar Image" />
         </div>
         <a
                 href="https://invite.ree6.de"
                 target="_blank"
                 data-highlight=""
                 data-color-dot="#fff"
                 data-color-background="#5865F2"
                 rel="noopener noreferrer"
                 class="hero-cta"
         >Upgrade to Ree6</a
         >
      </div>
      <div
              class="img-container"
              data-highlight=""
              data-parallax
              data-xaxis="0"
              data-yaxis="0.12"
              data-color-background="#ea0f77"
      >
         <img src="https://ree6.de/imgs/ree6-logo.png" alt="REE6 Avatar Image" />
      </div>
   </section>
   <section id="features">
      <div class="features-wrapper fade-in">
         <span class="line"></span>
         <button
                 data-feature="moderation"
                 data-highlight=""
                 data-color-background="#ea0f77"
         >
            <div class="inner-img-wrapper feature-active">
               <img src="https://ree6.de/imgs/moderation.svg" alt="Moderation Icon" />
            </div>
         </button>
         <span
                 class="text right feature-active-text"
                 data-label="feature"
                 aria-label="moderation"
         >Moderation</span
         >
         <span class="text left" data-label="feature" aria-label="music"
         >Music</span
         >
         <button
                 data-feature="music"
                 data-highlight=""
                 data-color-background="#ea0f77"
         >
            <div class="inner-img-wrapper">
               <img src="https://ree6.de/imgs/music.svg" alt="Music Icon" />
            </div>
         </button>
         <button
                 data-feature="commands"
                 data-highlight=""
                 data-color-background="#ea0f77"
         >
            <div class="inner-img-wrapper">
               <img src="https://ree6.de/imgs/funcommands.svg" alt="Fun Commands Icon" />
            </div>
         </button>
         <span class="text right" data-label="feature" aria-label="commands"
         >Fun-Commands</span
         >
         <span class="text left" data-label="feature" aria-label="logging"
         >Advanced Logging</span
         >
         <button
                 data-feature="logging"
                 data-highlight=""
                 data-color-background="#ea0f77"
         >
            <div class="inner-img-wrapper">
               <img src="https://ree6.de/imgs/logging.svg" alt="Advanced Logging Icon" />
            </div>
         </button>
         <button
                 data-feature="voice"
                 data-highlight=""
                 data-color-background="#ea0f77"
         >
            <div class="inner-img-wrapper">
               <img src="https://ree6.de/imgs/voice.svg" alt="Voice Icon" />
            </div>
         </button>
         <span class="text right" data-label="feature" aria-label="voice"
         >Chat & Voice Leveling</span
         >
         <span
                 class="text left"
                 data-label="feature"
                 aria-label="configuration"
         >Configuration</span
         >
         <button
                 data-feature="configuration"
                 data-highlight=""
                 data-color-background="#ea0f77"
         >
            <div class="inner-img-wrapper">
               <img src="https://ree6.de/imgs/configure.svg" alt="Configuration Icon" />
            </div>
         </button>
      </div>
      <div class="summary">
         <span class="count fade-in">01</span>
         <h2 class="fade-in">Moderation</h2>
         <p class="fade-in">
            Support in moderation is not lacking at ree6. Thanks to a
            sophisticated moderation system, you can sit back relax and punish
            rule breakers with a single command. Included are: mute, kick, ban
            and automatic moderative actions.
         </p>
         <a
                 href="https://invite.ree6.de"
                 target="_blank"
                 rel="noopener noreferrer"
                 class="fade-in"
         >
            <span class="inner-text">Authorize with Ree6</span>
            <div class="arrow-container">
               <div class="arrow-wrapper">
                  <span class="circle"></span>
                  <div class="arrow">
                     <span class="line-one"></span>
                     <span class="line-two"></span>
                     <span class="line-three"></span>
                  </div>
               </div>
            </div>
         </a>
      </div>
      <div
              class="mobile-features fade-in"
              data-highlight=""
              data-color-background="#ea0f77"
      >
         <button class="mobile-feature-active">
            <span class="inner-circle"></span>
         </button>
         <button>
            <span class="inner-circle"></span>
         </button>
         <button>
            <span class="inner-circle"></span>
         </button>
         <button>
            <span class="inner-circle"></span>
         </button>
         <button>
            <span class="inner-circle"></span>
         </button>
         <button>
            <span class="inner-circle"></span>
         </button>
      </div>
   </section>
   <section id="team">
      <h1 class="fade-in"><span class="desktop">Meet The</span> Team</h1>
      <div
              class="team-member-wrapper"
              aria-roledescription="I'm Presti the Lead Developer of Ree6! I'm a Java/C# Developer with years of Experience under my belt. My Job on Ree6 is the implementation of Features, Ideas and the Managment of our Monitoring System such as our Databank and the error output by Ree6!"
      >
         <div class="contact">
            <a
                    href="https://www.youtube.com/channel/UCg9sQ_VRxgLKCSpuAeqaIBQ"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#ff0000"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/yt.svg" alt="YouTube Logo" />
            </a>
            <a
                    href="https://twitter.com/memerinoto"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#1D9BF0"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/twitter.svg" alt="Twitter Logo" />
            </a>
            <a
                    href="https://www.instagram.com/unknown._.pog/"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#E1306C"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/ig.svg" alt="Instagram Logo" />
            </a>
         </div>
         <div class="avatar-wrapper fade-in">
            <img src="https://ree6.de/imgs/presti.jpg" alt="Presti Avatar" />
         </div>
         <div class="member-info">
            <h2 class="fade-in">
               Presti
               <span class="check-mark"
               ><img src="https://ree6.de/imgs/check.svg" alt="Check Mark"
               /></span>
            </h2>
            <div class="avatar-wrapper fade-in">
               <img src="https://ree6.de/imgs/presti.jpg" alt="Presti Avatar" />
            </div>
            <div class="stats fade-in">
               <div class="age fade-in">
                  <strong
                  ><em>Age <span data-time="2005"></span></em
                  ></strong>
               </div>
               <div class="fade-in">Lead Developer</div>
               <div class="fade-in">
                  <span data-time="2017"></span>yrs Experience
               </div>
               <div class="fade-in">Java/C#</div>
            </div>
         </div>
      </div>
      <div
              class="team-member-wrapper"
              aria-roledescription="I'm xazed and I'm a junior developer that codes mostly in Java and I am learning C++, I have years of experience in Java. My job on Ree6 is fixing bugs and other."
      >
         <div class="contact">
            <a
                    href="https://www.youtube.com/c/XAZED"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#ff0000"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/yt.svg" alt="YouTube Logo" />
            </a>
            <a
                    href="https://twitter.com/SolastisDev"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#1D9BF0"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/twitter.svg" alt="Twitter Logo" />
            </a>
         </div>
         <div class="avatar-wrapper fade-in">
            <img src="https://ree6.de/imgs/xasus.jpg" alt="Xazed Avatar" />
         </div>
         <div class="member-info">
            <h2 class="fade-in">
               xazed
               <span class="check-mark"
               ><img src="https://ree6.de/imgs/check.svg" alt="Check Mark"
               /></span>
            </h2>
            <div class="avatar-wrapper fade-in">
               <img src="https://ree6.de/imgs/xasus.jpg" alt="Xazed Avatar" />
            </div>
            <div class="stats fade-in">
               <div class="age fade-in">
                  <strong
                  ><em>Age <span data-time="2006"></span></em
                  ></strong>
               </div>
               <div class="fade-in">Junior Developer</div>
               <div class="fade-in">
                  <span data-time="2019"></span>yrs Experience
               </div>
               <div class="fade-in">Java/C++</div>
            </div>
         </div>
      </div>
      <div
              class="team-member-wrapper"
              aria-roledescription="I'm David, a java developer and I hate C#"
      >
         <div class="contact">
            <a
                    href="https://www.youtube.com/channel/UCJ4LOYs_BtHAcy4vhs1MQFA"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#ff0000"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/yt.svg" alt="YouTube Logo" />
            </a>
            <a
                    href="https://twitter.com/davidjordan2006"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-highlight=""
                    data-color-background="#1D9BF0"
                    data-color-dot="#fff"
                    class="fade-in"
            >
               <img src="https://ree6.de/imgs/twitter.svg" alt="Twitter Logo" />
            </a>
         </div>
         <div class="avatar-wrapper fade-in">
            <img src="https://ree6.de/imgs/david.jpg" alt="David Avatar" />
         </div>
         <div class="member-info">
            <h2 class="fade-in">
               david
               <span class="check-mark"
               ><img src="https://ree6.de/imgs/check.svg" alt="Check Mark"
               /></span>
            </h2>
            <div class="avatar-wrapper fade-in">
               <img src="https://ree6.de/imgs/david.jpg" alt="David Avatar" />
            </div>
            <div class="stats fade-in">
               <div class="age fade-in">
                  <strong
                  ><em>Age <span data-time="2006"></span></em
                  ></strong>
               </div>
               <div class="fade-in">Lead Developer</div>
               <div class="fade-in">
                  <span data-time="2019"></span>yrs Experience
               </div>
               <div class="fade-in">Java/C#</div>
            </div>
         </div>
      </div>
   </section>
   <section id="invite" class="fade-in">
      <h1 data-parallax data-xaxis="0.5" data-yaxis="0">
         Ree6 <strong>Advances</strong>
      </h1>
      <h2 data-parallax data-xaxis="0.3" data-yaxis="0">Will You?</h2>
      <a
              href="https://invite.ree6.de"
              target="_blank"
              rel="noopener noreferrer"
              data-highlight=""
              data-color-dot="#fff"
              data-color-background="#5865F2"
      >
         <span class="inner-text">Invite</span>
         <span class="background"></span>
         <div class="arrow-container">
            <div class="arrow-wrapper">
               <span class="circle"></span>
               <div class="arrow">
                  <span class="line-one"></span>
                  <span class="line-two"></span>
                  <span class="line-three"></span>
               </div>
            </div>
         </div>
      </a>
   </section>
</main>
<footer class="fade-in">
   <p>
      Ree6 has been made to support users and give them enough tools to
      support and manage their Guild. We don't like how most of the Discord
      Bots want you to pay for special "features". So we decided to change
      that.
   </p>
   <div class="footer-nav">
      <div class="nav-list">
         <strong>Navigation</strong>
         <a href="https://ree6.de/#home" aria-disabled="true">Home</a>
         <a href="https://ree6.de/#features" aria-disabled="true">Features</a>
         <a href="https://ree6.de/#team" aria-disabled="true">Team</a>
         <a
                 data-color-background="#5865F2"
                 data-color-dot="#fff"
                 href="https://invite.ree6.de"
                 target="_blank"
                 rel="noopener noreferrer"
         >Invite</a
         >
      </div>
      <div class="nav-list">
         <strong>Legal</strong>
         <a href="https://ree6.de/privacy/">Privacy Policy</a>
         <a href="https://ree6.de/impressum/">Impressum</a>
         <a href="https://ree6.de/protection/">Data Protection</a>
         <button
                 data-color-background="#ef2222"
                 data-color-dot="#fff"
                 data-copy="legal@ree6.de"
         >
            legal@ree6.de
         </button>
      </div>
      <div class="nav-list">
         <strong>Contact</strong>
         <a
                 href="https://support.ree6.de"
                 target="_blank"
                 rel="noopener noreferrer"
         >Discord</a
         >
         <a
                 href="https://twitter.com/ree6bot"
                 target="_blank"
                 rel="noopener noreferrer"
         >Twitter</a
         >
         <a
                 href="https://github.com/DxsSucuk/Ree6"
                 target="_blank"
                 rel="noopener noreferrer"
         >Github</a
         >
         <button
                 data-copy="support@ree6.de"
                 data-color-background="#ef2222"
                 data-color-dot="#fff"
         >
            support@ree6.de
         </button>
      </div>
   </div>
   <div class="copyright">
      <span class="desktop">Developed and Designed by</span>
      <a
              href="https://www.presti.me/"
              target="_blank"
              rel="noopener noreferrer"
      >Presti</a
      >
      <span class="desktop">&</span>
      <a
              href="https://creeperbuddy.github.io/"
              target="_blank"
              rel="noopener noreferrer"
      >Creeper Buddy</a
      >
      ©Ree6 <span data-time="0"></span>
   </div>
   <script src="https://ree6.de/js/time.js"></script>
   <script src="https://ree6.de/js/navigation.js"></script>
   <script src="https://ree6.de/js/cursor.js"></script>
   <script src="https://ree6.de/js/observer.js"></script>
</footer>
</body>
</html>