<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>Ree6 - Home</title>
   <link rel="icon" type="image/png" sizes="1024x1024" href="https://ree6.de/assets/img/ree6.png">
   <link rel="icon" type="image/png" sizes="1024x1024" href="https://ree6.de/assets/img/ree6.png">
   <link rel="icon" type="image/png" sizes="1024x1024" href="https://ree6.de/assets/img/ree6.png">
   <link rel="icon" type="image/png" sizes="1024x1024" href="https://ree6.de/assets/img/ree6.png">
   <link rel="icon" type="image/png" sizes="1024x1024" href="https://ree6.de/assets/img/ree6.png">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
   <link rel="stylesheet" href="https://ree6.de/assets/fonts/fontawesome5-overrides.min.css">
   <link rel="stylesheet" href="https://ree6.de/assets/css/styles.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body style="color: rgb(33,109,186);background: rgb(64,90,157);">
<!-- Start: Navigation with Button -->
<nav class="navbar navbar-light navbar-expand-lg bg-dark navigation-clean-button" style="background: rgb(97,100,177);color: rgb(191,74,187);">
   <div class="container"><a class="navbar-brand link-success" href="#"><img class="rounded-circle img-fluid" src="https://ree6.de/assets/img/ree6.png" loading="lazy" width="100"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
         <ul class="navbar-nav me-auto">
            <li class="nav-item"></li>
            <li class="nav-item"></li>
         </ul><span class="navbar-text actions"> <a class="btn btn-dark action-button" role="button" href="https://cp.ree6.de/auth/discord">Login</a></span>
      </div>
   </div>
</nav><!-- End: Navigation with Button -->
<main>
   <section id="info" style="background: var(--bs-gray-900);">
      <div class="container" style="background: rgba(0,0,0,0);">
         <h1 class="d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 60px;color: #ffffff;">Ree6</h1>
         <h1 class="display-5 d-xl-flex justify-content-xl-center align-items-xl-center" style="color: #ffffff;font-size: 20px;">The alternative to Mee6!</h1>
         <hr style="background: rgba(0,0,0,0);height: 50px;">
      </div>
   </section>
   <section id="features">
      <div class="container">
         <hr style="background: rgba(0,0,0,0);height: 50px;"><!-- Start: Intro -->
         <div class="intro">
            <h2 class="text-center" style="color: rgb(255,255,255);">Features</h2>
            <hr style="background: rgba(0,0,0,0);">
         </div><!-- End: Intro -->
         <!-- Start: Features -->
         <div class="row d-inline-flex features" style="margin-left: -24px;margin-right: -24px;margin-top: 15px;margin-bottom: 15px;">
            <div class="col-sm-6 col-lg-4 col-xxl-4 item" style="margin-bottom: 5px;margin-top: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-shield-check float-end d-xl-flex justify-content-xl-center align-items-xl-center icon" style="width: 50px;height: 50px;color: #ffffff;">
               <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"></path>
               <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
            </svg>
               <h3 class="name" style="color: rgb(255,255,255);">Moderation</h3>
               <p class="description" style="color: rgb(255,255,255);">Support in moderation is not lacking at ree6.<br>Thanks to a sophisticated moderation system, you can sit back relax and punish rule breakers with a single command. Included are: mute, kick, ban and automatic moderativ actions.</p>
            </div>
            <div class="col-sm-6 col-lg-4 item" style="margin-top: 5px;margin-bottom: 5px;"><i class="material-icons float-end d-xl-flex justify-content-xl-center align-items-xl-center icon" style="color: #ffffff;width: 50px;height: 50px;font-size: 30px;">music_note</i>
               <h3 class="name" style="color: #ffffff;">Music</h3>
               <p class="description" style="color: #ffffff;">With our built-in Music Player you can play Music from Websites such as Spotify, YouTube, Vimeo, Bandcamp, SoundCloud and even custom MP3 Files!<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" style="margin-bottom: 5px;margin-top: 5px;"><i class="far fa-laugh float-end d-xl-flex justify-content-xl-center align-items-xl-center icon" style="color: #ffffff;width: 50px;height: 50px;font-size: 30px;"></i>
               <h3 class="name" style="color: #ffffff;">Fun-Commands</h3>
               <p class="description" style="color: #ffffff;">By using different APIs Ree6 has the ability to give your Random Facts, Dog Images and Cat Images! We even have Commands such as slap and kiss!<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" style="margin-top: 5px;margin-bottom: 5px;"><i class="material-icons float-end d-xl-flex justify-content-xl-center align-items-xl-center icon" style="color: #ffffff;width: 50px;height: 50px;font-size: 30px;">description</i>
               <h3 class="name" style="color: #ffffff;">Advanced Logging</h3>
               <p class="description" style="color: #ffffff;">Ree6 offers varied audit logging in a clearer, more clearly structured style. All possible changes to the server are displayed (invite logging, role changes, channel switching and many more).<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" style="margin-top: 5px;margin-bottom: 5px;"><i class="far fa-comments float-end d-xl-flex justify-content-xl-center align-items-xl-center icon" style="color: #ffffff;width: 50px;height: 50px;font-size: 30px;"></i>
               <h3 class="name" style="color: #ffffff;">Chat and Voice leveling</h3>
               <p class="description" style="color: #ffffff;">The bot offers a constructed level system. Right now we're referring to this as chat leveling. Rank queries and a leaderboard are also included and work perfectly.<br></p>
            </div>
            <div class="col-sm-6 col-lg-4 item" style="margin-top: 5px;margin-bottom: 5px;"><i class="material-icons float-end d-xl-flex justify-content-xl-center align-items-xl-center icon" style="color: #ffffff;width: 50px;height: 50px;font-size: 30px;">settings</i>
               <h3 class="name" style="color: #ffffff;">Configuration</h3>
               <p class="description" style="color: #ffffff;">The bot will offer a newly built Configuration System for our users.</p>
            </div>
         </div><!-- End: Features -->
      </div>
      <hr style="background: rgba(0,0,0,0);height: 50px;">
   </section>
   <section id="team" style="background: #282d32;">
      <hr style="background: rgba(0,0,0,0);color: rgba(0,0,0,0.1);height: 50px;border-color: rgba(0,0,0,0);">
      <div class="container">
         <!-- Start: Intro -->
         <div class="intro">
            <h2 class="text-center" style="color: #ffffff;">Team </h2>
            <p class="text-center" style="color: #ffffff;">The Team behind Ree6!</p>
         </div><!-- End: Intro -->
         <!-- Start: People -->
         <div class="row people">
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle d-xl-flex justify-content-xl-center align-items-xl-center mx-xl-auto mx-xxl-auto" src="https://images.ree6.de/presti" style="width: 320px;height: 320px;text-align: center;margin: 5px;">
               <h3 class="name" style="color: #ffffff;">Presti</h3>
               <p class="title" style="color: #7139cc;">Lead Dev</p>
               <p class="description" style="color: #ffffff;">I'm Presti the Lead Developer of Ree6! I'm 16 years old and a Java/C# Developer which has over 4 years of Experience. My Job on Ree6 is the implementation of Features, Ideas and the Managment of our Monitoring System such as our Databank and the error output by Ree6!<br></p>
               <div class="social"><a href="https://www.youtube.com/channel/UCg9sQ_VRxgLKCSpuAeqaIBQ" style="margin: 10px;"><i class="fab fa-youtube" style="color: #ffffff;"></i></a><a href="https://twitter.com/memerinoto" style="margin: 10 px;"><i class="fa fa-twitter" style="color: #ffffff;"></i></a><a href="https://www.instagram.com/unknown._.pog/" style="margin: 10px;"><i class="fa fa-instagram" style="color: #ffffff;"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle d-xl-flex align-self-center mx-auto justify-content-xl-center align-items-xl-center mx-xl-auto mx-xxl-auto" src="https://images.ree6.de/xasus" style="width: 320px;height: 320px;text-align: center;margin: 5px;">
               <h3 class="name" style="color: #ffffff;">xazed</h3>
               <p class="title" style="color: var(--bs-red);">Supportiv Dev</p>
               <p class="description" style="color: #ffffff;">I'm xazed and 14 years old, I'm a junior developer that codes mostly in Java and I am learning C++, I have over 2 years of experience in Java. My job on Ree6 is fixing bugs and other.<br></p>
               <div class="social"><a href="https://www.youtube.com/c/XAZED" style="margin: 10px;"><i class="fab fa-youtube" style="color: #ffffff;"></i></a><a href="https://twitter.com/SolastisDev" style="margin: 10px;"><i class="fa fa-twitter" style="color: #ffffff;"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle d-xl-flex mx-auto justify-content-xl-center align-items-xl-center mx-xl-auto mx-xxl-auto" src="https://images.ree6.de/da" style="width: 320px;height: 320px;text-align: center;margin: 5px;">
               <h3 class="name" style="color: #ffffff;">david</h3>
               <p class="title" style="color: var(--bs-red);">Supportiv Dev</p>
               <p class="description" style="color: #ffffff;">I'm David, 15 years old, java developer and I hate C#<br></p>
               <div class="social"><a href="https://www.youtube.com/channel/UCJ4LOYs_BtHAcy4vhs1MQFA" style="margin: 10px;"><i class="fab fa-youtube" style="color: #ffffff;"></i></a><a href="https://twitter.com/davidjordan2006" style="margin: 10px;"><i class="fa fa-twitter" style="color: #ffffff;"></i></a></div>
            </div>
         </div><!-- End: People -->
      </div>
      <hr style="background: rgba(0,0,0,0);color: rgba(0,0,0,0.1);height: 50px;border-color: rgba(0,0,0,0);">
   </section>
   <section id="invite">
      <div class="container">
         <!-- Start: Intro -->
         <div class="intro">
            <hr style="background: rgba(0,0,0,0);height: 50px;">
            <h2 class="text-center" style="color: rgb(255,255,255);">Invite</h2>
            <h6 class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: #ffffff;text-align: center;">Did we convince you?</h6>
            <hr style="background: rgba(0,0,0,0);">
            <p class="d-xl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center" style="color: rgb(255,255,255);text-align: center;">If so press the button below to Invite Ree6!</p>
         </div><!-- End: Intro -->
         <hr style="background: rgba(0,0,0,0);height: 10px;"><a class="btn btn-primary d-flex float-none d-xl-flex justify-content-center align-items-center align-content-center align-self-center mx-auto justify-content-xl-center align-items-xl-center" role="button" style="width: 100px;height: 50px;background: var(--bs-gray-dark);" href="https://discord.com/oauth2/authorize?client_id=723655291681505380&amp;scope=bot&amp;permissions=808709182">Click me</a>
         <hr style="background: rgba(0,0,0,0);height: 50px;">
      </div>
   </section>
</main><!-- Start: Footer Dark -->
<footer class="footer-dark" style="background: rgb(40, 45, 50);">
   <div class="container">
      <div class="row">
         <!-- Start: Services -->
         <div class="col-sm-6 col-md-3 item">
            <h3>Legal</h3>
            <ul>
               <li><a href="https://ree6.de/legal/pp.html">Privacy Policy</a></li>
               <li><a href="https://ree6.de/legal/impresum.html">Impresum</a></li>
               <li><a href="https://ree6.de/legal/datenschutz.html">Data protection</a></li>
               <li><a href="mailto:legal@ree6.de">Legal Contact</a></li>
               <li></li>
            </ul>
         </div><!-- End: Services -->
         <!-- Start: About -->
         <div class="col-sm-6 col-md-3 item">
            <h3>About</h3>
            <ul>
               <li><a href="#team">Team</a></li>
            </ul>
         </div><!-- End: About -->
         <!-- Start: Footer Text -->
         <div class="col-md-6 item text">
            <h3>Ree6</h3>
            <p>Ree6 has been made to support users and give them enough tools to support and manage their Guild. We don't like how most of the Discord Bots want you to pay for special "features". So we decided to change that.</p>
         </div><!-- End: Footer Text -->
         <!-- Start: Social Icons -->
         <div class="col item social"><a href="support.ree6.de"><i class="fab fa-discord"></i></a><a href="https://twitter.com/ree6bot"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/DxsSucuk/Ree6"><i class="icon ion-social-github"></i></a><a href="mailto:support@ree6.de"><i class="icon ion-android-mail"></i></a></div><!-- End: Social Icons -->
      </div><!-- Start: Copyright -->
      <p class="lead copyright">Ree6 © 2021<br>powered by Tube-Hosting</p><!-- End: Copyright -->
   </div>
</footer><!-- End: Footer Dark -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://ree6.de/assets/js/script.min.js"></script>
</body>

</html>
